<!-- Navigation and Round Info -->
<nav class="relative px-6 py-4 flex flex-col md:flex-row justify-between items-center bg-gradient-to-r from-cyan-500 to-blue-600 dark:bg-gradient-to-r dark:from-blue-800 dark:to-cyan-700 border-b-2 dark:border-gray-600 space-y-4 md:space-y-0 md:space-x-6">
    <!-- Brand Section -->
    <a class="text-2xl font-bold text-violet-600 dark:text-white" href="#">
      ქალაქობანა
    </a>

    <div class="text-white text-center text-lg md:text-xl font-medium">
        <span [ngClass]="{'animate-letter': letterAnimated}" (animationend)="onAnimationEnd()">
            ასო ბგერა {{ randomLetter }}
        </span>
    </div>


    <!-- Profile Dropdown Section -->
    <button type="button" (click)="logOut()" class="flex items-center justify-center text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center md:ms-2 mb-2 md:mb-0">
      <fa-icon class="mr-2" [icon]="faSignOutAlt"></fa-icon>
      ოთახიდან გამოსვლა
    </button>
  </nav>
  <div class="bg-gradient-to-br from-cyan-50 to-blue-50 dark:from-blue-900 dark:to-cyan-800 min-h-screen p-4">

 <!-- Round Display -->
 <div class="text-center text-white font-bold py-2">
    მიმდინარე რაუნდი: {{ rountToDisplay }}/{{ totalRounds }}
  </div>
  
  <div class="container mx-auto mt-6 overflow-x-auto">
    <table class="min-w-full table-auto border-collapse bg-gradient-to-r from-blue-800 to-cyan-700 text-white rounded-lg shadow-lg">
      <thead>
        <tr class="text-indigo-700 uppercase bg-indigo-50 dark:bg-indigo-700 dark:text-white">
          <th class="px-4 py-2">სახელი</th>
          <th class="px-4 py-2">გვარი</th>
          <th class="px-4 py-2">ქალაქი</th>
          <th class="px-4 py-2">ქვეყანა</th>
          <th class="px-4 py-2">მცენარე</th>
          <th class="px-4 py-2">ცხოველი</th>
          <th class="px-4 py-2">ფილმი</th>
          <th class="px-4 py-2">მოქმედება</th>
          <th class="px-4 py-2">ჯამი</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let row of rows; let i = index" [ngClass]="{'bg-gradient-to-r from-blue-700 to-blue-900 ': i % 2 === 0, 'bg-gradient-to-r from-blue-650 to-cyan-850': i % 2 !== 0 }">
          <td><input type="text" [(ngModel)]="row.firstName" [disabled]="!row.enabled" class="text-black px-4 py-2 w-full"></td>
          <td><input type="text" [(ngModel)]="row.lastName" [disabled]="!row.enabled" class="text-black px-4 py-2 w-full"></td>
          <td><input type="text" [(ngModel)]="row.city" [disabled]="!row.enabled" class="text-black px-4 py-2 w-full"></td>
          <td><input type="text" [(ngModel)]="row.country" [disabled]="!row.enabled" class="text-black px-4 py-2 w-full"></td>
          <td><input type="text" [(ngModel)]="row.animals" [disabled]="!row.enabled" class="text-black px-4 py-2 w-full"></td>
          <td><input type="text" [(ngModel)]="row.plants" [disabled]="!row.enabled" class="text-black px-4 py-2 w-full"></td>
          <td><input type="text" [(ngModel)]="row.movies" [disabled]="!row.enabled" class="text-black px-4 py-2 w-full"></td>
          <td>
            <button *ngIf="i === currentRound" (click)="startStopRow(i)" 
            class="text-white bg-indigo-600 hover:bg-indigo-500 focus:ring-1 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
            {{ row.started ? 'სტოპ' : 'დაწყება' }}
            </button>
          </td>
          <td>
            <span *ngIf="row.completed" class="text-xl font-bold text-violet-600 dark:text-white ">15</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
 


  <div class="chat-toggle" (click)="toggleChat()">
    <fa-icon [icon]="faCommentDots"></fa-icon>
  </div>
  
  <div class="chat-box" [ngClass]="{'hidden': !isChatOpen}">
    <div class="chat-header">
      <h3>ჩატი</h3>
      <button class="close-btn mr-2" (click)="toggleChat()">X</button>
    </div>
    
    <div class="chat-content">
      <div *ngFor="let message of messages">
        <div class="message">
          <img src="logo_1.jpeg" alt="User Image" class="user-image">
          <div class="message-content">
            <strong>{{ message.userName }}</strong>
            <p>{{ message.text }}</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="chat-input">
      <input [(ngModel)]="newMessage" type="text" placeholder="Type a message..." class="message-input">
      <button (click)="sendMessage()" class="send-btn">Send</button>
    </div>
  </div>







