<!-- Navigation and Round Info -->
<nav class="relative px-6 py-4 flex flex-col md:flex-row justify-between items-center bg-gradient-to-r from-cyan-500 to-blue-600 dark:bg-gradient-to-r dark:from-blue-800 dark:to-cyan-700 border-b-2 dark:border-gray-600 space-y-4 md:space-y-0 md:space-x-6">
    <!-- Brand Section -->
    <a class="text-2xl font-bold text-violet-600 dark:text-white" href="#">
      ქალაქობანა
    </a>

    <div class="text-white text-center text-lg md:text-xl font-medium">
        <span [ngClass]="{'animate-letter': letterAnimated}" (animationend)="onAnimationEnd()">
            ასო ბგერა {{ randomLetter }}
        </span>
    </div>


    <!-- Profile Dropdown Section -->
    <button type="button" (click)="logOut()" class="flex items-center justify-center text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center md:ms-2 mb-2 md:mb-0">
      <fa-icon class="mr-2" [icon]="faSignOutAlt"></fa-icon>
      ოთახიდან გამოსვლა
    </button>
</nav>
@if(roundIsFinished() && currentRound > 0 && currentRound != totalRounds){
  <div class="bg-gradient-to-br from-cyan-50 to-blue-50 dark:from-blue-900 dark:to-cyan-800 min-h-screen p-4">

  <div class="container mx-auto mt-6 overflow-x-auto">
    <table class="min-w-full table-auto border-collapse bg-gradient-to-r from-blue-800 to-cyan-700 text-white rounded-lg shadow-lg">
      <thead>
        <tr class="text-indigo-700 uppercase bg-indigo-50 dark:bg-indigo-700 dark:text-white">
          <th class="px-4 py-2">მომხმარებელი</th>
          <th class="px-4 py-2">სახელი</th>
          <th class="px-4 py-2">გვარი</th>
          <th class="px-4 py-2">ქალაქი</th>
          <th class="px-4 py-2">ქვეყანა</th>
          <th class="px-4 py-2">მცენარე</th>
          <th class="px-4 py-2">ცხოველი</th>
          <th class="px-4 py-2">ფილმი</th>
          <th class="px-4 py-2">ჯამი</th>
        </tr>
      </thead>
      <tbody [@fadeInSequential]>

        <tr *ngFor="let row of resultRows; let i = index" 
        [ngClass]="{'bg-gradient-to-r from-blue-700 to-blue-900 ': i % 2 === 0, 
                   'bg-gradient-to-r from-blue-650 to-cyan-850': i % 2 !== 0 }">
      
      <td>
        <div class="flex items-center">
          <input type="text" [ngModel]="row.userName" 
                 readonly class="text-white bg-blue-500 px-4 py-2 w-full">
        </div>
      </td>
    
      <td>
        <div class="flex items-center">
          <input type="text" [ngModel]="row.firstName.p + 'ქ - ' + row.firstName.v" 
                 readonly class="text-white bg-blue-500 px-4 py-2 w-full">
        </div>
      </td>
    
      <td>
        <div class="flex items-center">
          <input type="text" [ngModel]="row.lastName.p + 'ქ - ' + row.lastName.v" 
                 readonly class="text-white bg-blue-500 px-4 py-2 w-full">
        </div>
      </td>
    
      <td>
        <div class="flex items-center">
          <input type="text" [ngModel]="row.city.p + 'ქ - ' + row.city.v" 
                 readonly class="text-white bg-blue-500 px-4 py-2 w-full">
        </div>
      </td>
    
      <td>
        <div class="flex items-center">
          <input type="text" [ngModel]="row.country.p + 'ქ - ' + row.country.v" 
                 readonly class="text-white bg-blue-500 px-4 py-2 w-full">
        </div>
      </td>
    
      <td>
        <div class="flex items-center">
          <input type="text" [ngModel]="row.animals.p + 'ქ - ' + row.animals.v" 
                 readonly class="text-white bg-blue-500 px-4 py-2 w-full">
        </div>
      </td>
    
      <td>
        <div class="flex items-center">
          <input type="text" [ngModel]="row.plants.p + 'ქ - ' + row.plants.v" 
                 readonly class="text-white bg-blue-500 px-4 py-2 w-full">
        </div>
      </td>
    
      <td>
        <div class="flex items-center">
          <input type="text" [ngModel]="row.movies.p + 'ქ - ' + row.movies.v" 
                 readonly class="text-white bg-blue-500 px-4 py-2 w-full">
        </div>
      </td>
    
      <td>
        <div class="flex items-center">
          <input type="text" [ngModel]="row.result" 
                 readonly class="text-white bg-blue-500 px-4 py-2 w-full">
        </div>
      </td>
    </tr>
      </tbody>
    </table>

    <!-- Centered Button -->
    <div class="flex justify-center mt-4">
      <button (click)="continueGame()"
        class="text-white bg-indigo-600 hover:bg-indigo-500 focus:ring-1 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
          გაგრძელება
      </button>
    </div>

  </div>
</div>
}

@else if(!gameFinished()){
  <div class="bg-gradient-to-br from-cyan-50 to-blue-50 dark:from-blue-900 dark:to-cyan-800 min-h-screen p-4">

    <!-- Round Display -->
    <div class="text-center text-white font-bold py-2">
       მიმდინარე რაუნდი: {{ rountToDisplay }}/{{ totalRounds }}
     </div>
     
     <div class="container mx-auto mt-6 overflow-x-auto">
       <table class="min-w-full table-auto border-collapse bg-gradient-to-r from-blue-800 to-cyan-700 text-white rounded-lg shadow-lg">
         <thead>
           <tr class="text-indigo-700 uppercase bg-indigo-50 dark:bg-indigo-700 dark:text-white">
             <th class="px-4 py-2">სახელი</th>
             <th class="px-4 py-2">გვარი</th>
             <th class="px-4 py-2">ქალაქი</th>
             <th class="px-4 py-2">ქვეყანა</th>
             <th class="px-4 py-2">მცენარე</th>
             <th class="px-4 py-2">ცხოველი</th>
             <th class="px-4 py-2">ფილმი</th>
             <th class="px-4 py-2">ჯამი</th>
             <th class="px-4 py-2">მოქმედება</th>
            </tr>
         </thead>
         <tbody>
   
           <tr *ngFor="let row of rows; let i = index" [ngClass]="{'bg-gradient-to-r from-blue-700 to-blue-900 ': i % 2 === 0, 'bg-gradient-to-r from-blue-650 to-cyan-850': i % 2 !== 0 }">
             <!-- Apply conditional classes for enabled/disabled state -->
             <td><input type="text" [(ngModel)]="row.firstName" [disabled]="!row.enabled" 
                [ngClass]="{'text-white bg-blue-500': row.enabled, 'text-black': !row.enabled}" class="px-4 py-2 w-full"></td>
             <td><input type="text" [(ngModel)]="row.lastName" [disabled]="!row.enabled" 
                [ngClass]="{'text-white bg-blue-500': row.enabled, 'text-black': !row.enabled}" class="px-4 py-2 w-full"></td>
             <td><input type="text" [(ngModel)]="row.city" [disabled]="!row.enabled" 
                [ngClass]="{'text-white bg-blue-500': row.enabled, 'text-black': !row.enabled}" class="px-4 py-2 w-full"></td>
             <td><input type="text" [(ngModel)]="row.country" [disabled]="!row.enabled" 
                [ngClass]="{'text-white bg-blue-500': row.enabled, 'text-black': !row.enabled}" class="px-4 py-2 w-full"></td>
             <td><input type="text" [(ngModel)]="row.animals" [disabled]="!row.enabled" 
                [ngClass]="{'text-white bg-blue-500': row.enabled, 'text-black': !row.enabled}" class="px-4 py-2 w-full"></td>
             <td><input type="text" [(ngModel)]="row.plants" [disabled]="!row.enabled" 
                [ngClass]="{'text-white bg-blue-500': row.enabled, 'text-black': !row.enabled}" class="px-4 py-2 w-full"></td>
             <td><input type="text" [(ngModel)]="row.movies" [disabled]="!row.enabled" 
                [ngClass]="{'text-white bg-blue-500': row.enabled, 'text-black': !row.enabled}" class="px-4 py-2 w-full"></td>
             <td>
               <button *ngIf="i === currentRound" (click)="startStopRow(i)" 
               class="text-white bg-indigo-600 hover:bg-indigo-500 focus:ring-1 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
               {{ row.started ? 'სტოპ' : 'დაწყება' }}
               </button>
             </td>
             <td>
               @if(row.completed){
                 <span class="text-xl font-bold text-violet-600 dark:text-white ">15</span>
               }
             </td>
           </tr>
         </tbody>
       </table>
     </div>
   </div>
}
@else {
  <div class="bg-gradient-to-br from-cyan-50 to-blue-50 dark:from-blue-900 dark:to-cyan-800 min-h-screen p-4 flex items-center justify-center">
    <div class="w-full max-w-md bg-gradient-to-br from-white to-cyan-100 dark:from-gray-800 dark:to-gray-900 shadow-lg rounded-lg p-6 animate-fadeInUp">
      <h2 class="text-2xl font-semibold mb-6 text-gray-900 dark:text-white text-center">ლიდერები</h2>
      <ul class="divide-y divide-gray-300 dark:divide-gray-700">
  
        <!-- First Place Winner with Star -->
        <li class="flex items-center justify-between py-4 bg-yellow-100 dark:bg-yellow-600 rounded-lg shadow-sm mb-3 px-4 animate-slideInUp hover:scale-105 hover:cursor-pointer transition-transform duration-200">
          <div class="flex items-center">
            <span class="text-xl font-semibold mr-4 text-cyan-600">1</span>
            <img src="logo_1.jpeg" alt="User Avatar" class="w-12 h-12 rounded-full mr-4">
            <span class="text-gray-800 dark:text-gray-200 font-semibold">გიორგი ჩიქოვანი</span>
            <!-- Star Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-yellow-500 ml-2 animate-spin-slow" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 15l-6.16 3.24 1.17-6.81L0 6.76l6.92-1.01L10 0l3.08 5.75L20 6.76l-4.98 4.67 1.17 6.81L10 15z" />
            </svg>
          </div>
          <span class="text-blue-500 dark:text-cyan-400 font-semibold">1000 ქულა</span>
        </li>
  
        <!-- Other Leaderboard Entries -->
        <li class="flex items-center justify-between py-4 bg-white dark:bg-gray-800 rounded-lg shadow-sm mb-3 px-4 animate-slideInUp delay-100 hover:scale-105 hover:cursor-pointer transition-transform duration-200">
          <div class="flex items-center">
            <span class="text-xl font-semibold mr-4 text-cyan-600">2</span>
            <img src="logo_2.jpeg" alt="User Avatar" class="w-12 h-12 rounded-full mr-4">
            <span class="text-gray-800 dark:text-gray-200 font-semibold">ლუკა ჯოლოხავა</span>
          </div>
          <span class="text-blue-500 dark:text-cyan-400 font-semibold">950 ქულა</span>
        </li>
  
        <li class="flex items-center justify-between py-4 bg-white dark:bg-gray-800 rounded-lg shadow-sm mb-3 px-4 animate-slideInUp delay-200 hover:scale-105 hover:cursor-pointer transition-transform duration-200">
          <div class="flex items-center">
            <span class="text-xl font-semibold mr-4 text-cyan-600">3</span>
            <img src="logo_3.jpeg" alt="User Avatar" class="w-12 h-12 rounded-full mr-4">
            <span class="text-gray-800 dark:text-gray-200 font-semibold">ოთარ მაჭავარიანი</span>
          </div>
          <span class="text-blue-500 dark:text-cyan-400 font-semibold">850 ქულა</span>
        </li>
  
        <li class="flex items-center justify-between py-4 bg-white dark:bg-gray-800 rounded-lg shadow-sm mb-3 px-4 animate-slideInUp delay-300 hover:scale-105 hover:cursor-pointer transition-transform duration-200">
          <div class="flex items-center">
            <span class="text-xl font-semibold mr-4 text-cyan-600">4</span>
            <img src="logo_4.jpeg" alt="User Avatar" class="w-12 h-12 rounded-full mr-4">
            <span class="text-gray-800 dark:text-gray-200 font-semibold">გიორგი ჭანტურია</span>
          </div>
          <span class="text-blue-500 dark:text-cyan-400 font-semibold">800 ქულა</span>
        </li>
  
        <li class="flex items-center justify-between py-4 bg-white dark:bg-gray-800 rounded-lg shadow-sm px-4 animate-slideInUp delay-400 hover:scale-105 hover:cursor-pointer transition-transform duration-200">
          <div class="flex items-center">
            <span class="text-xl font-semibold mr-4 text-cyan-600">5</span>
            <img src="logo_5.jpeg" alt="User Avatar" class="w-12 h-12 rounded-full mr-4">
            <span class="text-gray-800 dark:text-gray-200 font-semibold">ნიკა ჯოლოხავა</span>
          </div>
          <span class="text-blue-500 dark:text-cyan-400 font-semibold">750 ქულა</span>
        </li>
  
      </ul>
    </div>
  </div>
  
}


  <div class="chat-toggle" (click)="toggleChat()">
    <fa-icon [icon]="faCommentDots"></fa-icon>
  </div>
  
  <div class="chat-box" [ngClass]="{'hidden': !isChatOpen}">
    <div class="chat-header">
      <h3>ჩატი</h3>
      <button class="close-btn mr-2" (click)="toggleChat()">X</button>
    </div>
    
    <div class="chat-content">
      <div *ngFor="let message of messages">
        <div class="message">
          <img src="logo_1.jpeg" alt="User Image" class="user-image">
          <div class="message-content">
            <strong>{{ message.userName }}</strong>
            <p>{{ message.text }}</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="chat-input">
      <input [(ngModel)]="newMessage" type="text" placeholder="Type a message..." class="message-input">
      <button (click)="sendMessage()" class="send-btn">Send</button>
    </div>
  </div>







