.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-card {
    padding: 20px;
    width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .cust-button {
    display: block;
    width: 100%;
  }