<app-navbar />
  <div class="bg-gradient-to-br from-cyan-50 to-blue-50 dark:from-blue-900 dark:to-cyan-800 min-h-screen p-4">
    @if(isSubmitting()){
      <div class="fixed inset-0 bg-black bg-opacity-50 z-[9999] flex items-center justify-center">
        <div class="loader"></div> 
      </div>
    }
    
    <div class="text-xl font-bold dark:text-white mb-4">
      ოთახების სია - {{ roomResponses.length }} ოთახი აქტიურია
    </div>
  
    <div class="flex justify-end space-x-2 mb-4">
      <button (click)="refresh()" class="bg-blue-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">
        განახლება
      </button>
      <button (click)="openForm()" class="bg-cyan-600 hover:bg-cyan-500 text-white font-bold py-2 px-4 rounded">
        ოთახის დამატება
      </button>
    </div>
  
    @if(isLoading){
      <app-room-loader></app-room-loader>
    }
    @else {
      <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-indigo-700 uppercase bg-indigo-50 dark:bg-indigo-700 dark:text-white">
            <tr>
              <th scope="col" class="py-3 px-6">ოთახის სახელი</th>
              <th scope="col" class="py-3 px-6">მოთამაშეები</th>
              <th scope="col" class="py-3 px-6">პაროლი</th>
              <th scope="col" class="py-3 px-6">თამაშის ტიპი</th>
              <th scope="col" class="py-3 px-6">სტატუსი</th>
              <th scope="col" class="py-3 px-6">ქმედება</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let room of roomResponses;" 
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-indigo-50 dark:hover:bg-indigo-600 dark:hover:text-white dark:text-white">
              <td class="py-4 px-6">{{ room.name }}</td>
    
              <td class="py-4 px-6">
                {{ room.currentUserInRoomCount }}/{{ room.maxUsersInRoomCount }}
              </td>
    
              <td class="py-4 px-6">
                {{ room.password ? '************' : 'პაროლის გარეშე' }}
              </td>
    
              <td class="py-4 px-6">
                {{ getGameModeName(room.gameMode) }}
              </td>
    
              <td class="py-4 px-6">
                {{ room.status ? 'დაწყებული' : 'არ დაწყებულა' }}
              </td>
    
              <td class="py-4 px-6 relative">
                <button *ngIf="!room.status" (click)="openRedirectModal(room)" 
                  class="text-l text-indigo-400 hover:text-indigo-700 dark:hover:text-white">
                  შესვლა
                </button>
    
                <div *ngIf="room.status" class="text-l text-indigo-400 dark:text-indigo-200">
                  <span class="cursor-not-allowed" title="თამაში დაწყებულია">თამაში დაწყებულია</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    }

  
  </div>
  
  @if(isFormOpen){
    <div class="fixed inset-0 flex items-center justify-center z-50">
      <div class="fixed inset-0 bg-black bg-opacity-50 z-40" (click)="closeForm()"></div>
    
      <!-- Modal Content -->
      <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg max-w-lg w-full relative z-50">
        <div class="flex justify-between items-center mb-4">
          <h3 class="text-lg font-semibold text-gray-700 dark:text-gray-100">ოთახის დამატება</h3>
          <button (click)="closeForm()" class="text-gray-400 hover:text-gray-600 dark:hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">ოთახის სახელი</label>
            <input
              formControlName="name"
              type="text"
              class="w-full px-4 py-2 border rounded-lg focus:ring-indigo-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              placeholder="ოთახის სახელი"
            />
            <!-- Access the form control using 'get' method -->
             @if(form.get('name')?.touched && form.get('name')?.invalid){
              <p class="text-red-400">
                სახელი ცარიელი ვერ იქნება
              </p>
             }
            
          </div>
        
          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">პაროლი</label>
            <input
              formControlName="password"
              type="password"
              class="w-full px-4 py-2 border rounded-lg focus:ring-indigo-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              placeholder="პაროლი"
            />
          </div>
        
            <div class="mb-4">
              <label class="block text-sm font-medium text-white-700 dark:text-gray-300 mb-1">მოთამაშეების მაქსიმალური რაოდენობა</label>
              <input
                formControlName="maxcounts"
                type="number"
                class="remove-arrow w-full px-4 py-2 border rounded-lg focus:ring-indigo-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                placeholder="მოთამაშეების რაოდენობა"
              />
              @if(duelConfiguration()){
                @if(form.get('maxcounts')?.errors?.['max']){
                  <p  class="text-red-500">
                    მაქსიმალური რაოდენობა არის 2
                  </p>
                }
              }
              @else{
                @if(form.get('maxcounts')?.errors?.['max']){
                  <p  class="text-red-500">
                    მაქსიმალური რაოდენობა არის 16
                  </p>
                }
              }
              
            </div>
          
        
          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">თამაშის ტიპი</label>
            <select
              formControlName="gameType"
              (change)="onGameTypeChange()"
              class="w-full px-4 py-2 border rounded-lg focus:ring-indigo-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
            >
              <option value="კლასიკური">კლასიკური</option>
              <option value="დუელი">დუელი</option>
              <option value="ლიკვიდატორი">ლიკვიდატორი</option>
              <option value="კონფიგურირებადი">კონფიგურირებადი</option>
            </select>
          </div>
        
          <!-- Conditionally display this section if "კონფიგურირებადი" is selected -->
          @if(showConfigurableOptions()){
            <div class="mb-4">
              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">მონიშნეთ</label>
              
              <!-- Dropdown Trigger -->
              <button
                type="button"
                class="w-full px-4 py-2 border rounded-lg focus:ring-indigo-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                (click)="toggleDropdown()"
              >
                აირჩიეთ
              </button>
            
              <!-- Dropdown Menu -->
               @if(showDropdown){
                <div  class="absolute z-10 w-full bg-white dark:bg-gray-700 shadow-lg mt-1 rounded-lg overflow-y-auto max-h-60">
                  <div class="p-4">
                    <!-- Select All Checkbox -->
                    <label class="flex items-center mb-4">
                      <input type="checkbox" [checked]="allSelected" (change)="toggleSelectAll()" class="form-checkbox h-5 w-5 text-indigo-600" />
                      <span class="ml-2 text-sm dark:text-gray-300">ყველა</span>
                    </label>
                    <hr class="mb-4" />
                    
                    <!-- Grid layout for checkboxes -->
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4"> <!-- Responsive grid layout -->
                      <label class="flex items-center space-x-2">
                        <input type="checkbox" formControlName="firstname" (change)="checkIndividual()" class="form-checkbox h-5 w-5 text-indigo-600" />
                        <span class="text-sm dark:text-gray-300">სახელი</span>
                      </label>
                
                      <label class="flex items-center space-x-2">
                        <input type="checkbox" formControlName="lastname" (change)="checkIndividual()" class="form-checkbox h-5 w-5 text-indigo-600" />
                        <span class="text-sm dark:text-gray-300">გვარი</span>
                      </label>
                
                      <label class="flex items-center space-x-2">
                        <input type="checkbox" formControlName="city" (change)="checkIndividual()" class="form-checkbox h-5 w-5 text-indigo-600" />
                        <span class="text-sm dark:text-gray-300">ქალაქი</span>
                      </label>
                
                      <label class="flex items-center space-x-2">
                        <input type="checkbox" formControlName="country" (change)="checkIndividual()" class="form-checkbox h-5 w-5 text-indigo-600" />
                        <span class="text-sm dark:text-gray-300">ქვეყანა</span>
                      </label>
                
                      <label class="flex items-center space-x-2">
                        <input type="checkbox" formControlName="animal" (change)="checkIndividual()" class="form-checkbox h-5 w-5 text-indigo-600" />
                        <span class="text-sm dark:text-gray-300">ცხოველი</span>
                      </label>
                
                      <label class="flex items-center space-x-2">
                        <input type="checkbox" formControlName="plant" (change)="checkIndividual()" class="form-checkbox h-5 w-5 text-indigo-600" />
                        <span class="text-sm dark:text-gray-300">მცენარე</span>
                      </label>
                
                      <label class="flex items-center space-x-2">
                        <input type="checkbox" formControlName="movie" (change)="checkIndividual()" class="form-checkbox h-5 w-5 text-indigo-600" />
                        <span class="text-sm dark:text-gray-300">ფილმი</span>
                      </label>
                
                      <label class="flex items-center space-x-2">
                        <input type="checkbox" formControlName="river" (change)="checkIndividual()" class="form-checkbox h-5 w-5 text-indigo-600" />
                        <span class="text-sm dark:text-gray-300">მდინარე</span>
                      </label>
                    </div>
                  </div>
                </div>
               }
            </div>
}

@if(showRoundCustomizable()){
  <div class="mb-4">
    <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">რაუნდი</label>
    <input
      type="number"
      formControlName="rounds"
      class="remove-arrow w-full px-4 py-2 border rounded-lg focus:ring-indigo-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
      placeholder="რაუნდების რაოდენობა"
    />
    @if(form.get('rounds')?.errors?.['max']){
      <p class="text-red-500">
        რაუნდების მაქსიმალური რაოდენობა არის 33
      </p>
    }

  </div>
  }
  @if(showLikvidatorText()){
    <p class="text-red-500 mb-3">
     ლიკვიდატორის არსი - ყოველი 3 რაუნდის შემდეგ 1 ადამიანი ყველაზე ნაკლები ქულით გავარდება!
    </p>
  }
  @if(duelConfiguration()){
    <p class="text-red-500 mb-3">
      დუელის შემთხვევაში 2 ადამიანი თამაშობს ერთმანეთის წინააღმდეგ. თქვენ გაქვთ 3 სიცოცხლე და ვინც პიველი ჩაწვავს მას, ის წააგებს. 
    </p>
  }


          <div class="flex justify-end space-x-2">
            <button (click)="closeForm()" type="button" class="px-4 py-2 bg-gray-500 hover:bg-gray-400 text-white rounded-lg">გაუქმება</button>
            <button type="submit" class="px-4 py-2 bg-indigo-600 hover:bg-indigo-500 text-white rounded-lg" [disabled]="form.invalid">დამატება</button>
          </div>
        </form>
      </div>
    </div>
  }


  @if(isRedirectModalOpen){
    <div class="fixed inset-0 flex items-center justify-center z-50">
      <div class="fixed inset-0 bg-black bg-opacity-50 z-40" (click)="closeRedirectModal()"></div>
      
      <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg max-w-md w-full z-50">
        <div class="flex justify-between items-center mb-4">
          <h3 class="text-lg font-semibold text-gray-700 dark:text-gray-100">დარწმუნებული ხართ რომ გსურთ შესვლა?</h3>
          <button (click)="closeRedirectModal()" class="text-gray-400 hover:text-gray-600 dark:hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
  
        <!-- If room is private, show password input -->
        @if(selectedRoom?.isPrivate){
          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">შეიყვანეთ პაროლი</label>
            <input
              type="password"
              [(ngModel)]="enteredPassword"
              class="w-full px-4 py-2 border rounded-lg focus:ring-indigo-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              placeholder="პაროლი"
            />
            @if(isPasswordIncorrect){
              <p class="text-red-400">პაროლი არასწორია</p>
            }
          </div>
        }
  
        <div class="flex justify-end space-x-2">
          <button (click)="closeRedirectModal()" type="button" class="px-4 py-2 bg-gray-500 hover:bg-gray-400 text-white rounded-lg">არა</button>
          <button (click)="confirmRedirect()" [disabled]="selectedRoom?.isPrivate && !isPasswordValid()" class="px-4 py-2 bg-indigo-600 hover:bg-indigo-500 text-white rounded-lg">დიახ</button>
        </div>
      </div>
    </div>
  }
 
